# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

TrackGradientShader/\.vs/

TrackGradientShader/Debug/

TrackGradientShader/Release/

TrackGradientShader/TrackGradientShader/Debug/

TrackGradientShader/TrackGradientShader/Release/

TrackGradientShader/TrackGradientShader/x64/

TrackGradientShader/x64/

*.db

*.opendb
